<!DOCTYPE hmtl>
<html>
  <head>
    <title>Checkout</title>
  </head>
  <body>
    <h2>Items in Your Cart:</h2>
      <p>Hero Power: <%= @session["item"] %></p>
      <p>Hero Biography: <%= superhero.bio %></p>
      <% end %>
  </body>
</html>
